.pill {
  display: flex;
  height: 22px;
  padding: 2px 8px;
  justify-content: flex-end;
  align-items: flex-start;
  flex: 0 auto;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 100px;

  background-color: rgba(72, 74, 88, 1);
}

.text-2 {
  display: flex;
  padding-bottom: 1px;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 0 auto;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.small-body-regular {
  font-family: Equals, sans-serif;
  color: rgba(247, 248, 252, 1);
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
}

.small-body-regular.grey {
  color: var(--grey-2ddc77ab);
}