.small-avatar {
  flex-direction: row;
  border-radius: 20px;
  background-color: var(--charcoal-b796d7aa);
  color: var(--em11-16b7c6a6);
}

.small-body-regular {
  margin-bottom: 0px;

  font-family: Equals;
  color: rgba(247, 248, 252, 1);
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
}

.small-body-regular.grey {
  color: var(--grey-2ddc77ab);
}