.small-avatar {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  object-fit: cover;
}

.small-avatar {
  flex-direction: row;
  border-radius: 20px;
  background-color: var(--charcoal-b796d7aa);
  color: var(--em11-16b7c6a6);
}